@import "tailwindcss";

/* Ascension Item */
.ascensionItem {
  box-sizing: border-box;
  @apply bg-(--backgroundColor) flex items-center justify-between py-2.5 px-3.25 rounded-2xl w-full ;
}

.ascensionTitle {
  @apply text-center;
}

/* Expand Button */
.ascensionExpand {
  transform: rotate(90deg);
  @apply w-6 h-6 bg-transparent border-none cursor-pointer p-0 flex items-center justify-center;
}

.ascensionExpand img {
  @apply w-3 h-6 object-contain;
}
