@import "tailwindcss";

.ascensionContainer {
    @apply min-h-screen p-8 bg-(--backgroundColor) text-(--textColorPrimary) pt-15 flex flex-col gap-5 w-full max-w-155 mx-auto;
}

.header {
    @apply text-4xl font-medium;
}
.ascensionList{
    @apply flex flex-col gap-4;
}
.ascensionContent {
    @apply flex flex-col gap-6 w-full mx-auto max-w-155;
}
