@import "tailwindcss";

/* Checkbox */
.checkboxButton {
  @apply w-5 h-5 bg-transparent border-2 border-(--primaryColor) rounded-full cursor-pointer p-0 flex items-center justify-center relative;
}

.checkboxInner {
  @apply w-full h-full flex items-center justify-center rounded-full;
}

.checkboxInner img {
  @apply w-full h-full ;
}
