@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.3s ease-out;
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

:root {
  --primaryColor: #1496DC;
  --accentColor: #DC143C;
  --backgroundColor: #191716;
  --textColorPrimary: #E0E2DB;
  --textColorSecondary: #AFABA6;
  --cardBackground: #1E1E1E;
  --placeholderTextPrimary: #010101b3;
  --placeholderTextColorSecondary: #ffffffb3;
  --flameColor: #FAA600;
  --font: "Inter", sans-serif;  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family : var(--font);
  color: var(--textColorPrimary);
}

body, #root {
  min-width: 380px;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}